
body{
  background-color: black;
  color: white;
}

.App {
  text-align: center;

}

.btn{
  background-color: blue;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-bottom: 2%;
  margin-top: 30px;

}

.description {
  font-size: 1.2rem;
}

.heading{
  font-size: 50px;
  color: silver;
  margin: 20px;
}

.userInfo{
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color:rgba(124, 130, 134, 0.39);
  align-items: center;
  justify-content: space-around;
}

.userImg{
  height: 30px;
}

.userData{
  display: flex;
  
  align-items: center;
}

.userTitle{
  padding-right: 15px;
  font-size: 18px;
}

.description{
  width: 80%;
  text-align:justify;
  padding-left: 10%;
}


